    body{
            
            font-family: 'Rubik', sans-serif;
        }


.col-md-12{
    padding: 0px;
    
    position: fixed;
    top: 0px;
    
    
}

.navbar-form{
    display: flex;
    width: 100%;
    margin: 5% 25% 5% 25%;
}
.navbar{
    z-index: 1;
    background-color:rgba(0,0,0,0.5);
    border: 0px;
    height: 70px;
   
}




