.navbar-form>div{
    margin: 2%;
}
.nav-bar-down{
    
    margin: 0 10% 0 10%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 70%;
    width: 80%;

}
.dropa{
    background-color:aliceblue !important;
}
.navbar-form, .form-group{
    display: flex;
    width: 100%;
    
}


.navbar.navbar-inverse{
	margin-bottom: 0px;
    background-color:rgba(0,0,0,0.5);
	color: antiquewhite;
	border: 0px;
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 90px;
}
.navbar-brand{
    position: absolute;
    left: 10px;
    margin-left: 0 !important;
    z-index: 2;
}
.navbar.navbar-inverse .navbar-nav>li>a{
	color:#FBFBFD;
	font-family: 'Open Sans', sans-serif;
	font-size: 3vh;
		
}
.navbar.navbar-inverse .navbar-nav>li>a:hover{
	background-color: #0FB654;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-toggle{
	border:0px;
   
}
.navbar-collapse{
      width: 100%;
    padding-left: 0;
        height: 300px;
        margin-top: 20px;
            text-align: center;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #0FB654;
}
.nav-tabs{
    border:0px;
    height: 70px;
    width: 90%;
    padding-right: 0;
}
.nav-tabs > li{
    width: 33.33%;
}
.collapse{
    width: 90%;
    padding-left: 0;
}
@media (max-width: 768px){
    .nav-tabs > li{
    width: 100%;
}
nav{
    left:0px;
    right:0px;
}
    .container-fluid>.navbar-collapse{
        margin:40px 0 0 0;
        padding: 0;
    }
    .nav-tabs{
        width: 100%;
        margin:0 0 0 0;
    }
.navbar-form{
   flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
 
    
    .navbar-form > .dropdown  {
        width: 50%;
        margin: 3% 0 0 0;
        text-align: center;
        order: 2;
    }   
    input.form-control{
        width: 100%;
    }
}
.navbar-toggle{
    margin:30px 60px 0 0;
}
.navbar-brand{
    margin-left:30px;
}
.in{
     width: 100%;
    padding-left: 0;
        height: 300px;
        margin-top: 40px
}
.nav-tabs .btn-default{
    height: 70px;
   background-color:rgba(0,0,0,0.5);
    color: aliceblue;
    font-size: 30px;
    border: 0;
    text-align: center;
    width: 100%;
    padding: 0px;
    border-radius: 0 !important;
}
li a{
    padding: 0px;
    color: #337ab7;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background-color:#CCCCCC;
    color: #696969;
}
.btn:focus{
    background-color:rgba(0,0,0,0.5);
    color: aliceblue;
}
.btn:hover{
    background-color:#CCCCCC;
    color: #696969;
}
.dropdown-menu{
    background-color:rgba(0,0,0,0.7);
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.dropdown-menu li a{
    color: aliceblue;
}
.dropdown-menu li a:hover{
    color: aliceblue;
    
}
   .nav-bar-down .dropdown ul a{
        background-color: aliceblue;
        color: black;
       font-size: 15px;
       
    }

    .navbar-form >div{
        margin-top: 0;
    }
.nav-bar-down .dropdown ul a:hover{
    background-color: lightgray;
        color: black;
       font-size: 15px;
}
.dropdown-menu li a:hover{
    color: aliceblue;
    background-color:rgba(0,0,0,0.5);
    font-size: 30px;
}