    body{
            margin:0%;
            font-family: 'Rubik', sans-serif;
        }
.up{
    height: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
    margin: 150px 5% 0 5%;
}
@media (max-width: 768px){
    .main > div{
    width: 100%;
}

.carousel{
 
    order:1 !important;
 
}
.house-spec{

    order: 2;
    
}
.house-spec2{

    order: 3;
}

}
.main > div {
    margin: 2% ;
}





carousel-inner .image{
    height: 85vh; 
    width: 100%;
}
.carousel{
    width: 70%;
    order:2;
    position: relative;
    height: fit-content;
}
.house-spec{
    width: 22%;
    order: 1;
    
}
.house-spec2{
    width: 22%;
    order: 3;
}



        .spec{
            
            
            margin-top: 3%;
            margin-bottom: 3%;
           
            
        }
        .map{
            order: 4;
            width: 70%;
            height: 65vh;
            padding: 0px;
            
        }
    #map {
        height: 100%;
        width: 100%;
        
      }


.title{
    color: #94979D;
    
}
h4{
    color:#303030;
}



.email{
    text-decoration: none;
}
a:hover,a{
    text-decoration: none;
    color: aliceblue;
}
a{
    color :#414a4c;
}
a:active {
    text-decoration: none;
}
.price{
    color: red;
}