

.general{
    list-style: none;
}
.koko{
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.kokoaa{
    margin: 120px 120px 0 120px;
    
}
.koko > li {
    width: 70%;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.price{
    font-size: 25px !important;
    color: tomato;
}
.house-link{
    color: #8F8F8F;
}
.house-link:hover{
    text-decoration: none;
    color: #8F8F8F;
}
/*description in houses*/
.koko description{
    font-size:1px;
}
