    body{
            margin:0%;
            font-family: 'Rubik', sans-serif;
        }

.top{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: #d6cbd3;
}
.knisa{
    margin-top: 2%;
 
}
.logo{
    
    width: 100%;
}

        .main{
            background-color: antiquewhite;
            height: 100%;
            margin:5%;
            padding:2%;

        }
#carou{
    height: 100%;
        width: 66.6%;
}
@media only screen and (max-width: 991px){
    #carou {
        width: 100%;
    }
    .logo{
        width: 25%;
        
        float: left;
        
    }
    
}
.carou{
     height: 65vh;
            padding-left: 0px;
            padding-top: 3%;
            padding-bottom: 3%;
            padding-right: 0px;
    
}
carousel-inner .image{
    height: 85vh; 
    width: 100%;
}





        .spec{
            height: 75vh;
            background-color: white;
            margin-top: 3%;
            margin-bottom: 3%;
            border-left-style: solid;
            border-color: #bdcebe;
        }
        .map{
            background-color: white;
            height: 65vh;
            padding: 0px;
            
        }
    #map {
        height: 100%;
        width: 100%;
        
      }
.col-md-5{
    width:100%;
}
.contact{
    background-color: white;
    height: 65vh;
    border-left-style: solid;
    border-color: #bdcebe;
    color: 	#414a4c;
}

.title{
    background-color: beige;
}

h3:hover{
    background-color: green;
    color:white;
}
h1{
    font-size: 5.5vh;
    
}
.email{
    text-decoration: none;
}
a:hover,a{
    text-decoration: none;
    color: aliceblue;
}
a{
    color :#414a4c;
}
a:active {
    text-decoration: none;
}