doctype html
html(dir='rtl')
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', href='/stylesheets/style-form.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  
body
  main
    include navbar


                        //form for adding new house
        
    .row
          .col-md-6.col-md-offset-3(style="background-color:rgba(0,0,0,0.8); margin-top:100px;")
            .errors
              if errors
                - var values = errors;
                  ul.list-group(style="margin-top:20px; text-align:left; align-self:center; padding:10px;")
                    each val in values
                      li.list-group-item.list-group-item-danger(style="margin-top:10px; text-align:right;")=val.msg
                        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
            form(method='POST', action='/api/houses/specta/add' enctype='multipart/form-data' style=" padding:10px; color:aliceblue; text-align:right;" )
                h1.display-4.m-b-2(style=" color:#FFFFFF; margin-bottom:20px; text-align:center;") תרכיב מודעה חדשה
                .form-group
                    span#basic-addon2.input-group-addon תיאור קצר:
                    input.form-control(name='title', type='text')
                .form-group
                    span#basic-addon2.input-group-addon(style="width:20%; text-align:right;") סוג נכס:  
                    input.form-control(type="radio" name="types" value="דירה" ) 
                    |  דירה
                    input.form-control(type="radio" name="types" value="בית פרטי" ) 
                    |  בית פרטי
                    input.form-control(type="radio" name="types" value="קרקע" )
                    |  קרקע
                    input.form-control(type="radio" name="types" value="משרד"  )
                    |  משרד
                .form-group
                    span#basic-addon2.input-group-addon סוג עסקה:
                    input.form-control(type="radio" name="deal" value="מכירה") 
                    |  מכירה
                    input.form-control(type="radio" name="deal" value="השכרה") 
                    |  השכרה
                .form-group
                    span#basic-addon2.input-group-addon חדרים:
                    select.form-control(name='rooms' style="width:25%;")
                        option(value='0') 0
                        option(value='1') 1
                        option(value='1.5') 1.5
                        option(value='2') 2
                        option(value='2.5') 2.5
                        option(value='3') 3
                        option(value='3.5;') 3.5
                        option(value='2.5') 4
                        option(value='3') 4.5
                        option(value='5;') 5
                        option(value='5.5;') 5.5
                        option(value='6;') 6
                        option(value='6.5;') 6.5
                        option(value='7+;') 7+
                .form-group
                    span#basic-addon2.input-group-addon אזור:
                    select.form-control(name='area' style="width:25%;")
                        option(value='מרכז') מרכז
                        option(value='צפון') צפון
                        option(value='דרום') דרום
                
                .form-group
                  span#basic-addon2.input-group-addon מדיה:
                  form-control( style="width:50%;")
                        span.input-group-addon חניה
                          input(type='checkbox', name='media' aria-label='...', value="חניה") 
                        span.input-group-addon מזגן
                          input(type='checkbox', name='media' aria-label='...', value="מזגן" ) 
                        span.input-group-addon מזגן מרכזי
                          input(type='checkbox', name='media' aria-label='...', value="מזגן מרכזי") 
                        span.input-group-addon מרפסת
                          input(type='checkbox', name='media' aria-label='...', value="מרפסת") 
                        span.input-group-addon מעלית
                          input(type='checkbox', name='media' aria-label='...', value="מעלית") 
                        span.input-group-addon ממייד
                          input(type='checkbox', name='media' aria-label='...', value="ממייד") 
                .form-group
                    span#basic-addon2.input-group-addon תעלה תמונות:
                    
                    .file-field(style="width:25%;")
                      
                      .btn.btn-primary תעלה תמונה אחד או יותר
                        span.glyphicon.glyphicon-paperclip(aria-hidden='true') 
                          input(type='file',name='houseImage', multiple='')
                    
                .form-group
                    span#basic-addon2.input-group-addon מחיר בשקלים:
                    input.form-control(name='price', type='text' , style="width:25%;")
                
                input.btn.btn-success( type="submit" value="תעלה" style="self-align:center;")
                
            
          
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
script(src='/javascripts/app.js')