html(dir='rtl')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style-form.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
main
    .up
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(alt='Brand', src='/images/logo.jpg', style='height: 50px;')
              div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.nav-tabs(role='tablist')
              li
                .dropdown
                  button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                    | פרסומים
                    span.caret
                  ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                    li
                      a(href='api/houses/spec/rent') השכרה
                    li
                      a(href='api/houses/spec/sale') מכירה
              li
                
                  button.btn.btn-default( type='button', data-toggle='modal', data-target='.bs-example-modal-sm')
                    a.heshbon(href='users/register')
                      if user
                         p #{user.name}
                         
                         a(href='/logout') יציאה ממערכת
                      else
                         | כניסה לחשבון/הרשמה
                         
              li
                button.btn.btn-default(type='button', style='background-color: #0FB654') 
                  if user
                    a(href='api/houses/specta/add') פרסום מודעה
                  else
                    a(href='users/register') פרסום מודעה

                    //form for adding new house
    h1 תוסיף בית חדש

    .errors
      if errors
        - var values = errors;
          each val in values
            h2=val.msg
    form.forma(method='POST', action='/api/houses/specta/add' enctype='multipart/form-data' style="text-align:center")
        #form-group
            label תיאור קצר:
            input.form-control(name='title', type='text')
        #form-group
            label סוג:  
            input.form-control(type="radio" name="types" value="דירה") 
            |  דירה
            input.form-control(type="radio" name="types" value="בית פרטי") 
            |  בית פרטי
            input.form-control(type="radio" name="types" value="קרקע")
            |  קרקע
            input.form-control(type="radio" name="types" value="משרד")
            |  משרד
        #form-group
            label סוג עסקה:
            input.form-control(type="radio" name="deal" value="מכירה") 
            |  מכירה
            input.form-control(type="radio" name="deal" value="השכרה") 
            |  השכרה
        #form-group
            label חדרים:
            input.form-control(name='rooms', type='text')
        #form-group
            label אזור:
            select.form-control(name='area')
                option(value='מרכז') מרכז
                option(value='צפון') צפון
                option(value='דרום') דרום
        #form-group
            input.form-control(name='houseImage', type='file')
            input.form-control(name='houseImage', type='file')
            input.form-control(name='houseImage', type='file')
            input.form-control(name='houseImage', type='file')
            input.form-control(name='houseImage', type='file')
            input.form-control(name='houseImage', type='file')
            input.form-control(name='houseImage', type='file')
            input.form-control(name='houseImage', type='file')
        #form-group
            label מחיר:
            input.form-control(name='price', type='text')
        #form-group
            label אם אתה רוצה לפרסם מודע בעמוד ראשון?:
            input.form-control(type="radio" name="premiumHouse" value="premium") 
            |  כן
        #form-group
            label אם אתה רוצה שמודעה יהיה בראש של עמוד הראשי ?
            input.form-control(type="radio" name="superPremiumHouse" value="superPremium") 
            |  כן
        input.form-control(type='submit', name='submit')
            
        
       
        