doctype html
html(dir='rtl')
  head
  title זה הבית נדלן
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Rubik', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  link(rel='stylesheet', type='text/css', href='css/font/flaticon.css')
  script(src='/javascripts/app.js')

main
  .contai#all
    // Nav-Bar
    .up
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(alt='Brand', src='images/logo.jpg', style='height: 50px;')
              div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.nav-tabs(role='tablist')
              li
                .dropdown
                  button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                    | פרסומים
                    span.caret
                  ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                    li
                      a(href='api/houses/spec/rent') השכרה
                    li
                      a(href='api/houses/spec/sale') מכירה
              li
                
                  button.btn.btn-default( type='button', data-toggle='modal', data-target='.bs-example-modal-sm')
                    a.heshbon(href='users/register')
                      if user
                         p #{user.name}
                         
                         a(href='/logout') יציאה ממערכת
                      else
                         | כניסה לחשבון/הרשמה
                         
              li
                button.btn.btn-default(type='button', style='background-color: #0FB654') 
                  if user
                    a(href='api/houses/specta/add') פרסום מודעה
                  else
                    a(href='users/register') פרסום מודעה
                    
      // - carousel -
      #catalog-slider.carousel.slide(data-ride='carousel')
        // - indicators dot nov -
        // - wrapper slides -
        .carousel-inner(role='listbox')
          .item.active
            img(src='images/jamie-street-94244-unsplash.jpg', alt='front', style='height: 90vh; width: 100%;')
            .carousel-caption
              
          .item
            img(src='images/jessica-furtney-244838-unsplash.jpg', alt='back', style='height: 90vh; width: 100%;')
            .carousel-caption
              
          .item
            img(src='images/jessica-furtney-244838-unsplash.jpg', alt='back', style='height: 90vh; width: 100%;')
            .carousel-caption
              
      a.left.carousel-control(href='#catalog-slider', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#catalog-slider', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Previous
    // navbar down
    .nav-bar-down
      form.navbar-form.navbar-right(role='search')
        .dropdown
          button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
            | למכירה
            span.caret
          ul.dropdown-menu(aria-labelledby='dropdownMenu1')
            li
              a(href='#') להשכרה
            li
              a(href='#') למכירה
        .dropdown
          button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
            | סוג נכס
            span.caret
          ul.dropdown-menu(aria-labelledby='dropdownMenu1')
            li
              a(href='#') דירה
            li
              a(href='#') בית פרטי
            li
              a(href='#') קרקע
        .form-group
          input.form-control(type='text', placeholder='שכונה כתובת כדומה', style='width: 85%;')
          a.btn.btn-default.search-btn(href='#', role='button') חפש
    h2(style='width: 100%; text-align: center;') פרסומים מקודמים היום
    .new
      - var values = list;
        each val in values
                
                .desc(style='background-image:url('+JSON.stringify(val.houseImage)+')') 
                    a.house-link(href='/api/houses/' + val.id ) 
                            ul.list-group(style='color:aliceblue; list-style: none;')
                                li=JSON.stringify(val.title) 
                                li=JSON.stringify(val.price) 
                                
    h2(style='width: 100%; text-align: center;') אופציות נוספות
    .more
      div
        i.flaticon-fence
        | קרקע
        ul
          li 
            a(href='/api/houses/spec/קרקע/השכרה') השכרה
          li
            a(href='/api/houses/spec/קרקע/מכירה') מכירה
      div
        i.fas.fa-home
        | בית פרטי
        ul
          li
            a(href='/api/houses/spec/בית פרטי/השכרה') השכרה
          li
            a(href='/api/houses/spec/בית פרטי/מכירה') מכירה
      div
        i.flaticon-flat
        | דירה
        ul
          li
            a(href='/api/houses/spec/דירה/השכרה') השכרה
          li
            a(href='/api/houses/spec/דירה/מכירה') מכירה


          // footer

    .footer
          .first
              h1 facebook
              h1 koko
              h1 facebook
              h1 koko
              h1 facebook
              h1 koko
              h1 facebook
              h1 koko
          .sec
              h1 facebook
              h1 koko
              h1 facebook
              h1 koko
              h1 facebook
              h1 koko
              h1 facebook
              h1 koko
              h1 facebook
              h1 koko
          .social
              h1 facebook
              h1 koko
   

        
      
    



          script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
          script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
          script(src='/javascripts/app.js')

