doctype html
html(dir='rtl')
  head
  title זה הבית נדלן
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Rubik', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  link(rel='stylesheet', type='text/css', href='css/font/flaticon.css')
  script(src='/javascripts/app.js')

main
    .up
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(alt='Brand', src='images/logo.jpg', style='height: 50px;')
              div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.nav-tabs(role='tablist')
              li
                .dropdown
                  button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                    | פרסומים
                    span.caret
                  ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                    li
                      a(href='http://localhost:3000/api/houses/%D7%94%D7%A9%D7%9B%D7%A8%D7%94') השכרה
                    li
                      a(href='api/houses/מכירה') מכירה
              li
                a(href='api/log')
                  button.btn.btn-default( type='button', data-toggle='modal', data-target='.bs-example-modal-sm')
                  | כניסה לחשבון 
                  i.fas.fa-user-alt
              li
                a(href='api/houses/addNew')
                  button.btn.btn-default(type='button', style='background-color: #0FB654') פרסום מודעה




    .row(style="margin-top:150px;")
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 כניסה לחשבון

        // register form
        form(method='POST' action='/users/login' style="margin-top=150px;")
            div.form
                label(for='email') מאייל:
                input#email.form-control(type='email', placeholder='name@email.com' name='email')
            div.form-group
                label(for='pw') סיסמה:
                input#pw.form-control(type='password' name='password')
            input( type="submit" value="כניסה")
 
           

            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
            script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
            script(src='/javascripts/app.js')