doctype html
html(dir='rtl')
  head
  title זה הבית נדלן
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Rubik', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', href='/stylesheets/style-form.css')
  link(rel='stylesheet', type='text/css', href='css/font/flaticon.css')
body
  main
    include navbar
      

    

    
            
    .row(style="margin-top:100px;")
      .form-conteiner
        .errors
        if errors
          - var values = errors;
            ul.list-group(style="margin-top:20px; text-align:left; align-self:center; padding:10px;")
              each val in values
                li.list-group-item.list-group-item-danger(style="margin-top:10px; text-align:right;")=val.msg
                  span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                  
                
        // register form
       
        form(method='POST' action='/users/register' style=" padding:10px;")
          h1.display-4.m-b-2(style=" color:#FFFFFF; text-align:center; margin-bottom:20px;") הרשמה
          div.form-group
            span#basic-addon2.input-group-addon שם משתמש
            input#name.form-control(type='text', name='username', pattern="[a-zA-Z0-9]+") 
          div.form-group
            span#basic-addon2.input-group-addon מייל
            input#email.form-control(type='email', placeholder='name@gmail.com' name='email')
          div.form-group
            span#basic-addon2.input-group-addon סיסמה
            input#pw.form-control(type='password' name='password' pattern="[a-zA-Z0-9]+")
          div.form-group
            span#basic-addon2.input-group-addon אימות סיסמה
            input#pw.form-control(type='password' name='password2' pattern="[a-zA-Z0-9]+")
          input.btn.btn-success( type="submit" value="הרשמה" style="self-align:center;")
    
      .row
        .form-conteiner2
          h1.display-4.m-b-2(style=" color:#FFFFFF; text-align:center; margin-bottom:15px;") אם יש לך חשבון 
            a.btn.btn-success(href="/users/login" style="align-self:center;") כנס  


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/javascripts/app.js')